#ifndef __BORLANDC__
#include <windows.h>
#include <winver.h>
#endif


VS_VERSION_INFO VERSIONINFO
 FILEVERSION    1,9,0,0
 PRODUCTVERSION 1,9,0,0
 FILEFLAGSMASK  0x3fL
 FILEFLAGS      0x0L
 FILEOS         VOS__WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "000004b0"
  BEGIN
   VALUE "FileDescription",  "Ruby interpreter (GUI) 1.9.0.0 [i386-mswin32]\0"
   VALUE "FileVersion",      "1,9,0,0\0"
   VALUE "Home Page",        "http://www.ruby-lang.org/\0"
   VALUE "InternalName",     "rubyw.exe\0"
   VALUE "LegalCopyright",   "Copyright (C) 1993-2007 Yukihiro Matsumoto\0"
   VALUE "OriginalFilename", "rubyw.exe\0"
   VALUE "Platform",         "i386-mswin32\0"
   VALUE "ProductVersion",   "1,9,0,0\0"
   VALUE "Release Date",     "2007-12-25\0"
   VALUE "Version",          "1.9.0.0\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0, 0x4b0
 END
END
